services:
  spark-master:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-spark:3.5.3
    container_name: spark-master
    hostname: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    environment:
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - SPARK_MASTER_WEBUI_PORT=8080
      - PYSPARK_PYTHON=python3
      - PYSPARK_DRIVER_PYTHON=python3
      - PYTHONPATH=/
      - SPARK_DAEMON_JAVA_OPTS=-Dlog4j.configurationFile=file:/opt/spark/conf/log4j2.properties
      - TZ=Europe/Paris
    ports:
      - "8080:8080"
      - "7077:7077"
      - "4040:4040"
    volumes:
      - ./spark-conf/log4j2.properties:/opt/spark/conf/log4j2.properties:ro
      - ./spark-conf/spark-defaults.conf:/opt/spark/conf/spark-defaults.conf:ro
      - ./data:/data
      - ./notebooks:/notebooks
      - ./output:/output
      - ./utils:/utils
      - ./logs:/logs

    networks:
      - spark-network

  spark-worker-1:
    image: my-spark:3.5.3
    container_name: spark-worker-1
    hostname: spark-worker-1
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
      - PYSPARK_PYTHON=python3
      - PYSPARK_DRIVER_PYTHON=python3
      - PYTHONPATH=/
      - SPARK_DAEMON_JAVA_OPTS=-Dlog4j.configurationFile=file:/opt/spark/conf/log4j2.properties
      - TZ=Europe/Paris
    depends_on:
      - spark-master
    volumes:
      - ./spark-conf/log4j2.properties:/opt/spark/conf/log4j2.properties:ro
      - ./spark-conf/spark-defaults.conf:/opt/spark/conf/spark-defaults.conf:ro
      - ./data:/data
      - ./notebooks:/notebooks
      - ./output:/output
      - ./utils:/utils
      - ./logs:/logs

    networks:
      - spark-network

  spark-worker-2:
    image: my-spark:3.5.3
    container_name: spark-worker-2
    hostname: spark-worker-2
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
      - PYSPARK_PYTHON=python3
      - PYSPARK_DRIVER_PYTHON=python3
      - PYTHONPATH=/
      - SPARK_DAEMON_JAVA_OPTS=-Dlog4j.configurationFile=file:/opt/spark/conf/log4j2.properties
      - TZ=Europe/Paris
    depends_on:
      - spark-master
    volumes:
      - ./spark-conf/log4j2.properties:/opt/spark/conf/log4j2.properties:ro
      - ./spark-conf/spark-defaults.conf:/opt/spark/conf/spark-defaults.conf:ro
      - ./data:/data
      - ./notebooks:/notebooks
      - ./output:/output
      - ./utils:/utils
      - ./logs:/logs

    networks:
      - spark-network

  spark-worker-3:
    image: my-spark:3.5.3
    container_name: spark-worker-3
    hostname: spark-worker-3
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
      - PYSPARK_PYTHON=python3
      - PYSPARK_DRIVER_PYTHON=python3
      - PYTHONPATH=/
      - SPARK_DAEMON_JAVA_OPTS=-Dlog4j.configurationFile=file:/opt/spark/conf/log4j2.properties
      - TZ=Europe/Paris
    depends_on:
      - spark-master
    volumes:
      - ./spark-conf/log4j2.properties:/opt/spark/conf/log4j2.properties:ro
      - ./spark-conf/spark-defaults.conf:/opt/spark/conf/spark-defaults.conf:ro
      - ./data:/data
      - ./notebooks:/notebooks
      - ./output:/output
      - ./utils:/utils
      - ./logs:/logs

    networks:
      - spark-network

networks:
  spark-network:
    driver: bridge